<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Explore MotionCLIP's text2motion generation ability</title>
    <!-- Include Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
    <h1><a href="https://github.com/GuyTevet/MotionCLIP" style="text-decoration: none; color: inherit;">MotionCLIP:<sup><i class="fab fa-github" style='font-size:22px'></i></sup></a> Generate Stickman Motion By Submitting a Prompt!</h1>
    <h3><a href="https://github.com/Ivan-Klabucar/text2motion_generator" style="text-decoration: none; color: inherit;">Created by <i>Ivan Klabucar</i><sup><i class="fab fa-github" style='font-size:22px'></i></sup></a></h3>
    <p>
        Rate how realistic the generated motions are<br/>and help us uncover the model's strengths and weaknesses!
    </p>
    
    {% if video %}
    <!-- Display the formatted video title with the icon -->
    <div id="video-title-container">
        <h2 id="video-title">{{ video_title }}</h2>
        <button id="video-list-button" aria-label="Open video list">
            <!-- Downward Arrow Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="#ff6600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="5 7 10 12 15 7"></polyline>
            </svg>
        </button>
    </div>

    <!-- Video List Modal -->
    <div id="video-list-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <input type="text" id="video-search-input" placeholder="Search videos..." />
            <ul id="video-list">
                {% for vid in videos %}
                <li class="video-item" data-video-name="{{ vid }}">{{ vid }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="video-container">
        <!-- Left Arrow -->
        <a href="/?video_name={{ prev_video }}" class="arrow left-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="#ff6600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="25 5 10 20 25 35"></polyline>
            </svg>
        </a>
        <!-- Video Player -->
        <video id="video-player" width="480" height="300" controls autoplay muted playsinline loop>
            <source src="/videos/{{ video }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- Right Arrow -->
        <a href="/?video_name={{ next_video }}" class="arrow right-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" stroke="#ff6600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="15 5 30 20 15 35"></polyline>
            </svg>
        </a>
    </div>

    <!-- Rating Section -->
    <div class="rating">
        <span class="disclaimer">Rate Realism of Generated Motion:</span>
        <div id="stars" data-video="{{ video }}">
            {% for i in range(1,6) %}
                <span class="star {% if existing_rating and i <= existing_rating %}selected{% endif %}" data-value="{{ i }}">&#9733;</span>
            {% endfor %}
        </div>
        <div id="average-rating" class="disclaimer">Average Rating: {{ average_rating }}, Number of Ratings: {{ number_of_ratings }}</div>
    </div>

    {% else %}
    <p>No videos available.</p>
    {% endif %}

    <!-- Form with updated design -->
    <form method="post" id="prompt-form" class="prompt-form">
        <div class="input-container">
            <label for="prompt-input" class="visually-hidden">Prompt</label>
            <input type="text" id="prompt-input" name="prompt" placeholder="Type your prompt here" required aria-label="Prompt" value="{{ prompt | default('') }}">
            <button type="submit" id="submit-button" aria-label="Submit">
                <!-- Arrow Icon -->
                <svg id="submit-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#ff6600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
                <!-- Spinner (Hidden by default) -->
                <div id="spinner" class="spinner" style="display: none;"></div>
            </button>
        </div>
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </form>

    <!-- Disclaimer -->
    <p class="disclaimer">
        Note: Video generation usually takes a few seconds. All generated videos are backed up to S3.
    </p>

    <script src="/static/script.js"></script>
</body>
</html>
